.ant-layout-header,
.ant-layout-footer {
  background: #ffffff;
  color: #000000;
}

.ant-layout-header {
  padding: 25px;
  line-height: normal;
  flex: 0 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
}

.ant-layout-sider {
  background: #ffffff !important;
  color: #000000;
  border-right: 1px solid #d9d9d9;
}

.ant-layout-content {
  background: #ffffff;
  color: #000;
}