$borders-color: #efefef;

.ant-layout-header,
.ant-layout-footer {
  background: #ffffff;
  color: #000000;
}

.ant-layout-header {
  padding: 35px 25px;
  line-height: normal;
  align-items: center;
  display: flex;
  justify-content: space-between;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  margin-bottom: 20px;
}

.ant-layout-sider {
  background: #ffffff !important;
  color: #000000;
}

.ant-layout-content,
.ant-layout {
  background: #ffffff;
  color: #000;
}